@model IEnumerable<EcommerceSistemaVsShopify.Models.ExistenciasEcommerceModelo>

@{
    ViewData["Title"] = "Existencias Ecommerce BC";
}

<h1>Existencias Ecommerce Bodega Central</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PLM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coleccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadNegocio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Neto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model!=null)
        {
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PLM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coleccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Temporada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadNegocio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio_Neto)
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
